@model IList<Product>

@{
    ViewData["Title"] = "Expired Products";
}

<h1>Produtos Vencidos</h1>

<message text="@TempData["msg"]"></message>

<form class="form-inline mb-3" asp-action="ExpiredProducts" method="get">
    <select class="form-control mr-2" asp-items="ViewBag.Categories" name="category">
        <option>Categoria</option>
    </select>
    <select class="form-control mr-2" asp-items="ViewBag.Storages" name="storage">
        <option>Armazenamento</option>
    </select>
    <button class="btn btn-secondary" type="submit">Pesquisar<i class="bi bi-search"></i></button>
</form>

<table class="table" style="text-align: center;">
    <thead>
        <tr class="table-danger">
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Armazenamento</th>
            <th>Categoria</th>
            <th>Data de Vencimento</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Amount</td>
                    <td>@item.Storage.Name</td>
                    <td>@item.Category.Name</td>
                    <td>@item.ExpirationDate?.ToShortDateString()</td>
                    <td>
                        <button type="button" onclick="productId.value = @item.Id" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModal"
                                data-placement="top" title="" data-original-title="Remover">
                            <i class="bi bi-x"></i>
                        </button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">
                    Nenhum produto vencido
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remover Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja realmente remover o produto?
            </div>
            <div class="modal-footer">
                <form asp-action="Delete">
                    <input type="hidden" name="id" id="productId" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não <i class="bi bi-x-lg"></i></button>
                    <button type="submit" class="btn btn-danger">Sim <i class="bi bi-exclamation-triangle"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            $('[data-toggle="tooltip"], [data-toggle="modal"]').tooltip();
        })
    </script>
}